.auth__main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    height: 100vh;
}

.auth__box-container{
    background-color: #fff;
    padding: 10px;
    box-shadow: 0px 3px $dark-grey;
    border-radius: 10px;
    width: 250px;
}

.auth__title{
    color: darken($color: $primary, $amount: 20);
    text-align: center;
}

.auth__input{
    display: block;
    color: $dark-grey;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #d1d1d1;
    padding: 5px;

    &:focus{
        outline: none;
    }

}

.auth__text{
    width: 100%;
    display: block;
    color: $dark-grey;
    margin-bottom: 3px;
}

.auth__social-networks{
    position: relative;
  
}

.auth__img_google{
    background-color: #fff;
    position: absolute;
    border-radius: 2px;
    top: 5px;
    left: 5px;
    bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth__img_google img{
    height: 30px;
}

.auth__social-networks button{
    cursor: pointer;
    padding:5px 10px;
    width: 100%;
    font-size: 1.0em;
    background-color: $google-color;
    height: 40px;
    border-radius: 5px;
    border: 1px solid $google-color;
    color: #fff;
    
    &:focus{
        outline: none;
    }
}