.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 7px 10px 7px 2px ;
    transition: color 0.3s ease;

    &:focus{
        outline: none;
    }

    &:active{
        transform: scale(0.95);
    }

    &:hover{
        color:darken($color: #fff, $amount: 10)
    }

}

.btn-primary{
    background-color: $primary;
    border-radius: 2px;
    width: 100%;
    font-size: 1em;
}

.btn-danger{
    background-color: red;
    transition:background-color  0.3s ease;
    &:hover{
        background-color: darken($color: red, $amount: 20);
    }
}